In [3]:
import pandas as pd

file_to_load = "ecoli.data"

df = pd.read_csv(file_to_load, names = ['Sequence Name', "mcg", "gvh", "lip",
                                       "chg", "aac", "alm1", "alm2", "Protein Site"], delim_whitespace=True)

In [4]:
df.head()

  Sequence Name   mcg   gvh   lip  chg   aac  alm1  alm2 Protein Site
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35           cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44           cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46           cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36           cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35           cp

In [5]:
train_df = df.sample(frac= 0.8, random_state = 2139842)

test_df =df.drop(train_df.index).sample(frac=1.0)

In [6]:
train_df.to_csv('ecoli_train.csv', index=False)
test_df.to_csv('ecoli_test.csv', index=False)