In [42]:
import pandas as pd

df = pd.read_csv("breast-cancer-wisconsin.data",names = ['Sample code number','Clump Thickness','Uniformity of cell size','uniformity of cell shape','marginal adhesion','single epithelial cell size','bare nuclei','normal nucleoli','bland chromatin','mitoses','class',])
#df = df.dataframe({'ID','Diagnosis','raius','texture','perimeter','area','smoothness','compactness','concavity','concave points','symmetry','fractal dimension'})
df.head()

,Sample code number,Clump Thickness,Uniformity of cell size,uniformity of cell shape,marginal adhesion,single epithelial cell size,bare nuclei,normal nucleoli,bland chromatin,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [43]:
df= df[df['bare nuclei']!= '?']

In [44]:
len(df)

683

In [46]:
train = df.sample(frac = 0.8, random_state = 168459756)
test = df.drop(train.index).sample(frac = 1)

In [48]:
train.head()

,Sample code number,Clump Thickness,Uniformity of cell size,uniformity of cell shape,marginal adhesion,single epithelial cell size,bare nuclei,normal nucleoli,bland chromatin,mitoses,class
303,646904,1,1,1,1,2,1,3,1,1,2
504,1268766,1,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
62,1116116,9,10,10,1,10,8,3,3,1,4
113,1173216,10,10,10,3,10,8,8,1,1,4

In [49]:
train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index = False)